/README.md
/ssh/public_keys
{{ if ne .chezmoi.os "windows" }}
/.cmdrc.bat
/.config/packages/windows
/AppData/
/Documents/
/scripts/windows/
{{ else }}
/.aerospace.toml
/.config/fnox/
/.config/ghostty/
/.config/karabiner
/.config/nvim
/.config/packages/darwin
/.config/sheldon
/.config/zellij
/.tmux.conf
/.zshrc
/Library/
/scripts/darwin/
/zellij/
{{ end }}
