{{ if ne .chezmoi.os "windows" }}
[".config/nvim"]
{{ else }}
["AppData/Local/nvim"]
{{ end }}
type = "archive"
url = "https://github.com/LazyVim/starter/archive/refs/heads/main.zip"
stripComponents = 1

[".lazy-idea"]
type = "git-repo"
url = "https://github.com/cufarvid/lazy-idea.git"

[".tmp/plugins"]
type = "git-repo"
url = "https://github.com/tmux-plugins/tpm.git"

{{ if eq .chezmoi.os "darwin" }}
["Library/Application Support/nushell/themes/catppuccin_macchiato.nu"]
{{ else if eq .chezmoi.os "windows" }}
["AppData/Roaming/nushell/themes/catppuccin_macchiato.nu"]
{{ end }}
{{ if ne .chezmoi.os "linux"}}
type = "file"
url = "https://raw.githubusercontent.com/catppuccin/nushell/refs/heads/main/themes/catppuccin_macchiato.nu"
{{end}}
