{{ if ne .chezmoi.os "windows" }}
/Documents/
/AppData/
/scripts/windows/
{{ else }}
/dot_config/karabiner
/dot_config/nvim
/dot_zshrc
/dot_aerospace.toml
/ghostty/
/Library/
/zellij/
/scripts/darwin/
{{ end }}
