[submodule "custom-completions"]
	path = custom-completions
	url = https://github.com/nushell/nu_scripts.git
[submodule "nushell/custom-completions"]
	path = nushell/custom-completions
	url = https://github.com/nushell/nu_scripts.git
[submodule "nushell/nu_scripts"]
	path = nushell/nu_scripts
	url = https://github.com/nushell/nu_scripts.git
