[tools]
atuin = "latest"
bat = "latest"
caddy = "latest"
carapace = "latest"
deno = "latest"
docker-cli = "latest"
dotnet = "latest"
eza = "latest"
fd = "latest"
fnox = "latest"
fzf = "latest"
hugo = "latest"
java = "latest"
jj = "latest"
jjui = "latest"
lazydocker = "latest"
lazygit = "latest"
lazyjournal = "latest"
lazyssh = "latest"
neovim = "latest"
node = "lts"
opencode = "latest"
pnpm = "latest"
podman = "latest"
python = "latest"
ripgrep = "latest"
rust = "latest"
sqlite = "latest"
starship = "latest"
tlrc = "latest"
tmux = "latest"
tree-sitter = "latest"
yazi = "latest"
yt-dlp = "latest"
zellij = "latest"
zoxide = "latest"
"github:murex/TCR" = "latest"


[tasks.mac-install-gui]
description = "Install GUI apps on MacOS"
run = '''
if [ "$(uname)" != "Darwin" ]; then
  exit 0
fi

brew bundle install --file="~/.config/scripts/mac/gui.brew"
'''

[tasks.mac-install-gaming]
description = "Install GUI apps on MacOS"
run = '''
if [ "$(uname)" != "Darwin" ]; then
  exit 0
fi

brew bundle install --file="~/.config/scripts/mac/gaming.brew"
'''
