{
  "defaultProvider": "openrouter",
  "defaultModel": "deepseek/deepseek-v4-flash",
  "lastChangelogVersion": "0.79.6",
  "theme": "dark",
  "packages": [
    "npm:@zhafron/pi-mcp-tools"
  ],
  "mcp": {{- template "mcp-servers.tmpl" . -}},
  "defaultThinkingLevel": "high"
}
