{
    "context7": {
      "type": "local",
      "command": [
        "npx",
        "-y",
        "@upstash/context7-mcp"
      ]
    },
    "deepwiki": {
      "type": "remote",
      "url": "https://mcp.deepwiki.com/mcp"
    },
    "obsidian-brain": {
      "type": "local",
      "command": [
        "npx",
        "-y",
        "obsidian-brain@latest",
        "server"
      ]
    },
    "web-search": {
      "type": "local",
      "command": [
        "npx",
        "-y",
        "@zhafron/mcp-web-search"
      ]
    }
  }
